@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.background-deco{
    position: absolute;
    z-index: 1;
    width: 25rem;
    right: -160px;
    top: -12px;
}

.ipl-logo{
    position: relative;
}

.main-header{
    background-color: #19398a;
    font-family: rubik, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 5px 0 0 5px;
    box-shadow: 0 4px 8px 0 hsl(0deg 0% 7% / 50%);
    z-index: 111;

}

.logo{
    width: 80px;
    z-index: 2;
}

.nav-container__ul{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    font-size: 20px;
    letter-spacing: 0.1rem;
    list-style-type: none;
}

.nav-container__ul > li{
    padding: 18px;
    cursor: pointer;
}

.points-table{
    position: relative;
}

.points-table::after{
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 20%;
    background-color: white;
    bottom: 20%;
    right: 35%;
}

.flex-container{
    display: flex;
    align-items: center;
}

.flex-container > img{
    cursor: pointer;
    margin: 0.5rem;
}

.fan-poll{
    width: 70px;
}

.vc{
    width: 70px;
}

.location{
    font-family: rubik, sans-serif;
    background-color: #061e59;
    color: white;
    padding: 10px;
    padding-left: 120px;
    font-size: 12px;
}

.title{
    background-color: #081033;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    overflow: hidden;
    padding: 20px 0 12px;
    position: relative;
    margin-bottom: 2rem;
}

.title > p{
    padding-left: 6rem;
}

.title > img{
    position: absolute;
    bottom: -15px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f2f8;
}

.generic-button{
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    font-size: 22px;
    border-radius: 5px;
    background-color: white;
    line-height: 30px;
    justify-content: space-between;
    padding: 5px 5px 5px 16px;
    width: 200px;
    border: 1px solid #d9d9d9;
    margin-right: 1rem;
    cursor: pointer;
}

.container{
    width: 80%;
}

.generic-button > img{
    object-fit: contain;
    width: 15px;
}

.btn-container{
    display: flex;
    margin: 2rem 0;
}

.table-img{
    width: 1300px;
    margin: 0 0 2rem 0;
    border-radius: 20px;
}
